vendor
var
app/config/parameters.yml
web/sboza2/*
.idea
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/sboza2.iml
.idea/webSboza2.iml
web/bundles/framework
web/sboza2/
