{% extends "base_admin.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            {{ form_start(form ,{'action':'', 'method':'POST'}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "code",
            toolbar: "code"
        });
    </script>
{% endblock %}