@media only screen and (max-width: 375px) {

  .header-top-mobile{
    text-align: center;
    .header-top-content{
      padding-right: 0;
    }
  }

  .box_phone_mobile{
    font-size: 16px;
    .phone{
      font-size: 18px;
    }
  }

  .box_email_mobile{
    font-size: 16px;
  }

  .content-courses {
    .slide_show_one_column {
      width: 100%;
    }
  }

  .content {
    .content-form {
      .form {
        .header-form {
          .wrapper-header-form {
            width: 100%;
            max-width: 322px;
            .element-first {
              .icon{
                width: 12%;
              }
              .text{
                width: 86%;
              }
            }
            .element-second {
              .icon{
                width: 12%;
              }
              .text{
                width: 86%;
              }
            }

          }
        }
        .wrapper-form {
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }
}