@media only screen and (max-width: 375px) {

  .header-top-mobile{
    text-align: center;
    .header-top-content{
      padding-right: 0;
    }
  }

  .content {
    .content-form {
      .form {
        .header-form {
          .wrapper-header-form {
            width: 100%;
            max-width: 322px;
          }
        }
        .wrapper-form {
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }
}
