@media only screen and (max-width: 480px) {

  .header-top-mobile{
    text-align: center;
    .header-top-content{
      padding-right: 10px;
    }
  }

  .content{
    .menu_courses{
      .fourth_column{
        width: 100%;
        .header_courses{
          .title{
            margin-top: 20px;
          }
        }
      }
    }
  }
}
