@media only screen and (max-width: 480px) {

  .header-top-mobile{
    padding-top: 57px;
    .header-top-content{
      padding-right: 10px;
    }
  }

  .our_cursos{
    .block-cursos{
      #spacing{
        width: 100%;
      }

      .element-pink{
        width: 100%;
      }

      .element-green{
        width: 100%;
      }
    }
  }

  .team{
    .team-detail{
      .team-person {
        width: 100%;
      }
    }
  }
}
