@media only screen and (max-width: 660px) {

  .header-top-mobile{
    display: block;
    width: 100%;
    background: #cccccc;
    height: 100%;
    text-align: right;
    padding-top: 14px;

    i{
      font-size: 26px;
      vertical-align: top;
    }

    img{
      width: 26px;
      vertical-align: top;
    }

    a{
      text-decoration: none;
      color: #000000;
      font-size: 26px;
    }
    .header-top-content{
      padding-right: 21px;
    }

    .social-networks{
      display: inline-block;
      img{
        width: 26px;
      }
      .text-contact-now{
        display: none;
      }
    }
  }

  /*.box_email_mobile{
    background: #cccccc;
    font-size: 26px;
    height: 100%;
    a{
      text-decoration: none;
      color: #000000;
      text-align: right;
    }
  }

  .box_date_mobile{
    background: #cccccc;
    font-size: 26px;
    height: 100%;
    a{
      text-decoration: none;
      color: #000000;
      text-align: right;
    }
  }


  .box_phone_mobile{
    background: #cccccc;
    font-size: 26px;
    height: 100%;
    a{
      text-decoration: none;
      color: #000000;
      text-align: right;
    }
  }*/

  .header-top{
    display: none;
  }

  .content {
    .content-form {
      .footer-form{
        ul{
          .icon{
            width: 9%;
          }
          .text{
            width: 88%;
          }
        }
      }
      .form {
        .wrapper-form {
          width: 100%;
          max-width: 380px;
          .form-fields {
            .field {
              width: 100%;
            }
            .label {
              width: 100%;
            }
          }

        }
      }
    }
  }

  .footer{
    text-align: center;
    .logo-footer{
      width: 100%;
    }
    .address-footer{
      width: 100%;
      padding: 0;
    }
    .phone-footer{
      width: 100%;
      text-align: center;
      padding-top: 20px;
    }

  }
}