@media only screen and (max-width: 660px) {

  .header-top-mobile{
    display: block;
    width: 100%;
    background: #cccccc;
    height: 100%;
    text-align: right;
    padding-top: 14px;

    i{
      font-size: 26px;
      vertical-align: top;
    }

    img{
      width: 26px;
    }

    a{
      text-decoration: none;
      color: #000000;
      font-size: 26px;
    }
    .header-top-content{
      padding-right: 21px;
    }

    .social-networks{
      display: inline-block;
      vertical-align: middle;
      img{
        width: 26px;
      }
      .text-contact-now{
        display: none;
      }
    }
  }

  .box_phone_mobile{
    background: #cccccc;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    text-align: center;
    a{
      text-decoration: none;
      color: #000000;
      text-align: right;
    }
    .phone{
      color: #aa198d;
      font-size: 20px;
    }
  }

  .box_email_mobile{
    background: #cccccc;
    font-size: 18px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    a{
      text-decoration: none;
      color: #000000;
      text-align: right;
    }
  }

  .header-top{
    display: none;
  }

  .content-courses {
    .slide_show_one_column {
      width: 63%;
      padding-top: 30px;
      padding-bottom: 30px;
      margin: 0 auto;
      display: block;
      .wrapper_content_slide_course {
        width: 90%;
        margin: 0 auto;
      }
    }

    .slide_show{
      display: none;
    }
    .content-form {
      .form {
        .wrapper-form {
          width: 100%;
          max-width: 380px;
          .form-fields {
            .field {
              width: 100%;
            }
            .label {
              width: 100%;
            }
          }

        }
      }
    }
  }

  .content {
    .menu_courses{
      .fourth_column{
        width: 49%;
      }
    }
    .content-form {
      .form {
        .wrapper-form {
          width: 100%;
          max-width: 380px;
          .form-fields {
            .field {
              width: 100%;
            }
            .label {
              width: 100%;
            }
          }

        }
      }
    }
  }


}