@media only screen and (max-width: 960px) {
  .header{
    nav{
      display: none;
    }
  }

  .hamburgler-menu{
    display: block;
  }
  .hamburgler-menu-list{
    display: block;
  }

  .hamburgler-icon-wrapper {
    position: absolute;
    top: 1em;
    left: 1em;
    height: 26px;
    width: 26px;
    cursor: pointer;
    z-index: 999;
  }

  .hamburgler-icon,
  .hamburgler-icon:before,
  .hamburgler-icon:after {
    content: '';
    position: absolute;
    border-radius: 1em;
    height: 2px;
    width: 26px;
    background: black;
    transition: all 0.2s ease
  }

  .hamburgler-icon {
    top: 0.75em
  }

  .hamburgler-icon:before {
    top: -0.55em
  }

  .hamburgler-icon:after {
    top: 0.55em
  }

  .hamburgler-active .hamburgler-icon {
    background: transparent;
    transform: rotate(-135deg)
  }

  .hamburgler-active .hamburgler-icon:before,
  .hamburgler-active .hamburgler-icon:after {
    top: 0
  }

  .hamburgler-active .hamburgler-icon:before {
    transform: rotate(90deg)
  }

  .hamburgler-active .hamburgler-icon,
  .hamburgler-active .hamburgler-icon:before,
  .hamburgler-active .hamburgler-icon:after {
    background: white
  }

  .hamburgler-menu {
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    max-width: 100%!important;
    overflow-x: hidden!important;
  }

  .hamburgler-active .hamburgler-menu {
    opacity: 1;
    pointer-events: initial;
    max-height: 100%;
    z-index: 99;
  }

  .hamburgler-menu-list {
    display: block;
    transition: all 0.4s ease;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 148px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: 23px;
    width: 100%;
    li{
      max-width: 100%;
      display: block;
      height: 31px;
      border-bottom: 1px solid;
      a{
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  .hamburgler-active .hamburgler-menu-list {
    transform: translate(-50%, -50%) scale(1)
  }

  .our_cursos{
    .block-cursos{
      #spacing-block{
        width: 100%;
      }

      .element-pink{
        width: 49%;
      }

      .element-green{
        width: 48%;
      }
    }
  }

  .team{
    .team-detail{
      width: 100%;
      .team-person {
        width: 50%;
      }
    }
  }
}