body{
  width: 100%;
  margin: 0 auto;
  background: #aa198d;
}

.wrapper-content{
  width: 960px;
  margin: 0 auto;
}

.header-top{
  width: 100%;
  background: #cccccc;
  .info-header{
    display: inline-block;
    width: 60%;
    .link-email{
      border-right: 2px solid #000;
      padding-right: 5px;
    }
    a{
      color: #000;
      text-decoration: none;
    }
  }
  .social-header{
    display: inline-block;
    width: 39%;
    text-align: right;
    .date{
      border-right: 2px solid #000;
      padding-right: 5px;
    }
    ul{
      display: inline-block;
      list-style: none;
    }
  }
}

.header{
  width: 100%;
  background: #aa198d;
  margin: 0 auto;
  .logo{
    padding: 10px;
  }
}

.content{
  background: #aa198d;
  color: #fff;
  .content-form{

    .info-form{
      text-align: center;
    }
    .form{
      .wrapper-form{
        width: 510px;
        margin: 0 auto;
        padding-bottom: 37px;
        .text-form{
          text-align: center;
        }
        .form-fields{
          padding: 5px;
          .field{
            width: 68%;
            display: inline-block;
            input{
              width: 100%;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
            }
            textarea{
              width: 100%;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
            }
          }
          .label{
            width: 31%;
            display: inline-block;
            vertical-align: top;
          }
        }
        
      }
    }

  }
}


.footer{
  width: 100%;
  background: #95d600;
  height: 100%;
  .logo-footer{
    padding: 10px;
  }
  .address-footer{
    width: 60%;
    display: inline-block;
  }
  .phone-footer{
    width: 39%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
  }

}