@import 'fonts.less';

body{
  width: 100%;
  margin: 0 auto;
  background: #aa198d;
  font-family: "HelveticaNeueLTStd Lt", arial, sans-serif;
}

.wrapper-content{
  width: 960px;
  margin: 0 auto;
}

.header-top{
  width: 100%;
  background: #cccccc;
  .info-header{
    display: inline-block;
    width: 60%;
    .phone{
      font-size: 22px;
      color: #aa198d;
    }
    .link-email{
      border-right: 2px solid #000;
      padding-right: 5px;
    }
    a{
      color: #000;
      text-decoration: none;
    }
  }
  .social-header{
    display: inline-block;
    width: 39%;
    text-align: right;
    .date{
      border-right: 2px solid #000;
      padding-right: 5px;
    }
    ul{
      display: inline-block;
      list-style: none;
    }
  }
}

.header{
  width: 100%;
  background: #aa198d;
  margin: 0 auto;
  .logo{
    padding: 10px;
  }
}

.content{
  background: #aa198d;
  color: #fff;
  .info{
    text-align: center;
    font-family: "Bebas Neue", arial, sans-serif;
    h1{
      font-size: 59px;
    }
    h3{
      font-size: 39px;
    }
    h2{
      font-size: 49px;
    }
  }
  .content-form{

    .footer-form{
      ul{
        list-style: none;
        padding: 0;
        .icon{
          width: 9%;
          display: inline-block;
          vertical-align: top;
          i{
            font-size: 25px;
          }
        }
        .text{
          display: inline-block;
          width: 90%;
        }

      }
    }

    .form{
      .wrapper-form{
        width: 540px;
        margin: 0 auto;
        padding-bottom: 37px;
        .text-form{
          text-align: center;
          h2{
            color: #999999;
          }
          h3{
            font-family: "Bebas Neue", arial, sans-serif;
            font-size: 38px;
          }
        }
        .form-fields{
          padding: 5px;
          .field{
            width: 68%;
            display: inline-block;
            input{
              width: 100%;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
            }
            textarea{
              width: 100%;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
            }
          }
          .label{
            width: 31%;
            display: inline-block;
            vertical-align: top;
          }
        }
        
      }
    }

  }
}


.footer{
  width: 100%;
  background: #95d600;
  height: 100%;
  .logo-footer{
    padding: 10px;
  }
  .address-footer{
    width: 60%;
    display: inline-block;
  }
  .phone-footer{
    width: 39%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    a{
      text-decoration: none;
    }
    .phone{
      font-size: 25px;
      color: #fff;
    }
  }

}