@import 'fonts.less';
@import "reset.less";

body{
  width: 100%;
  margin: 0 auto;
  font-family: "HelveticaNeueLTStd Lt", arial, sans-serif;
  overflow-x: hidden !important;
  background: #80cc28;
}


.wrapper-content{
  width: 1024px;
  margin: 0 auto;
}

.clear:before, .clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

.hamburgler-menu{
  display: none;
}
.hamburgler-menu-list{
  display: none;
}

.box_email_mobile{
  display: none;
}

.box_phone_mobile{
  display: none;
}

.box_date_mobile{
  display: none;
}

.header-top-mobile{
  display: none;
}

.header-top{
  width: 100%;
  background: #cccccc;
  height: 32px;
  padding-top: 4px;


  .info-header{
    display: inline-block;
    width: 50%;
    font-weight: bold;
    font-size: 14px;
    span{
      padding-left: 10px;
      img{
        width: 17px;
        padding-right: 5px;
        vertical-align: middle;
      }
    }
    .phone{
      font-size: 18px;
      color: #aa198d;
    }
    .link-email{
      border-right: 2px solid #000;
      padding-right: 12px;
    }
    a{
      color: #000;
      text-decoration: none;
    }
  }
  .social-header{
    display: inline-block;
    width: 49%;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    .date{
      border-right: 2px solid #000;
      padding-right: 12px;
    }
    .campus-header{
      padding-left: 9px;
    }
    a{
      color: #000;
      text-decoration: none;
    }
    .social-networks{
      display: inline-block;
      width: 30%;
      vertical-align: middle;
      img{
        width: 18px;
        height: 18px;
      }
    }
  }
}

.header{
  width: 100%;
  margin: 0 auto;
  background: #fff;
  .logo{
    width: 20%;
    display: inline-block;
  }

  nav {
    height: 40px;
    width: 77%;
    position: relative;
    display: inline-block;
  }

  nav ul {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    float: right;
    text-align: right;
  }

  nav li {
    display: inline;
  }

  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #000000;
  }

  nav li a {
    border-right: 1px solid #000000;
  }

  nav li:last-child a {
    border-right: 0;
  }

  nav a:hover, nav a:active {
    font-weight: bold;
  }
}

.content{
  color: #fff;
  background: #fff;
  .info-thank{
    text-align: center;
    font-family: "Bebas Neue", arial, sans-serif;
    font-size: 47px;
  }
  .logo-thanks{
    i{
      font-size: 71px;
    }
  }
  .info{
    text-align: center;
    font-family: "Bebas Neue", arial, sans-serif;
    padding-top: 30px;
    h1{
      font-size: 74px;
      letter-spacing: 3px;
    }

    h3{
      font-size: 51px;
      line-height: 67px;
      letter-spacing: 3px;
      span{
        font-size: 54px;
      }
    }

  }

  .slide_show{
    max-width: 100%;
    margin: 0 auto;
    ul{
      list-style: none;
    }
  }

  .our_center{
    color: #000000;
    #text{
      text-align: center;
      h2{
        text-transform: uppercase;
        letter-spacing: 11px;
        font-size: 18px;
        padding-bottom: 28px;
        color: #aaa;
      }
      h3{
        font-family: "Bebas Neue", arial, sans-serif;
        font-size: 49px;
      }
      #first-paragraph{
        padding: 0 33px 23px;
        font-size: 17px;
        letter-spacing: 0.5px;
      }
      #second-paragraph{
        padding: 0 27px 50px;
        font-size: 17px;
      }
    }
    #list{
      width: 675px;
      margin: 0 auto;
      h3{
        font-family: "Bebas Neue", arial, sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 36px;
        letter-spacing: 1px;
        color: #aa198d;
        padding-bottom: 12px;
      }
      ul{
        font-size: 20px;
        list-style-image: url("../img/green_cube.png");
        li{
          padding-bottom: 19px;
        }
      }
    }
  }

  .title-section{
    text-transform: uppercase;
    letter-spacing: 11px;
    font-size: 18px;
    padding-bottom: 28px;
    color: #aaa;
    text-align: center;
    padding-top: 60px;
  }

  .our_cursos{
    color: #000000;

    #spacing{
      width: 1%;
      display: inline-block;
    }

    .element-pink{
      width: 24%;
      display: inline-block;
      vertical-align: top;
      background: #aa198d;
      height: 532px;
      font-size: 13px;
      font-weight: bold;
      ul{
        list-style: none;
        text-align: center;
        color: #ffffff;
        li{
          padding-bottom: 12px;
        }

      }
    }

    .element-green{
      width: 23%;
      display: inline-block;
      vertical-align: top;
      background: #80cc28;
      height: 532px;
      font-size: 13px;
      font-weight: bold;
      ul{
        list-style: none;
        text-align: center;
        color: #ffffff;
        li{
          padding-bottom: 12px;
        }
      }
    }
  }

  .team{
    .team-detail{
      padding-left: 80px;
      padding-right: 80px;
      text-align: center;
      .title-team{
        font-family: "Bebas Neue", arial, sans-serif;
        font-size: 40px;
        color:#000000;
      }
      .team-person {
        height: 131px;
        width: 24%;
        display: inline-block;
        text-align: center;
        p{
          color: #80cc28;
        }
        img{
          background-repeat: no-repeat;
          background-position: 50%;
          border-radius: 50%;
          background-size: 100% auto;
        }

      }
    }
  }

  .news{
    color: #000000;
    .new{
      .img-new{
        width: 40%;
        display: inline-block;
        img{
          width: 350px;
          height: 350px;
          background: #000000;
        }
      }
      .text-new{
        width: 59%;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .content-form{
    margin-top: 110px;
    background: #aa198d;
    .footer-form{
      margin-top: 42px;
      ul{
        li{
          padding-top: 10px;
        }
        list-style: none;
        .icon{
          width: 9%;
          display: inline-block;
          vertical-align: top;
          img{
            width: 32px;
          }
        }
        .text{
          display: inline-block;
          width: 90%;
          a{
            text-decoration: none;
            color: #ffffff;
          }
        }

      }
    }

    .form{
      .wrapper-form{
        width: 633px;
        margin: 0 auto;
        padding-bottom: 37px;
        form{
          margin-top: 70px;
        }
        .text-form{
          text-align: center;
          h2{
            color: #999999;
            letter-spacing: 10px;
            text-transform: uppercase;
            padding-top: 43px;
            padding-bottom: 30px;
          }
          .text-title-form{
            font-family: "Bebas Neue", arial, sans-serif;
            font-size: 44px;
            letter-spacing: 3px;
            height: 100%;
          }
        }
        .form-fields{
          padding: 5px;
          .field{
            width: 64%;
            display: inline-block;
            .form-button{
              border-radius: 5px 5px 5px 5px;
              -moz-border-radius: 5px 5px 5px 5px;
              -webkit-border-radius: 5px 5px 5px 5px;
              border: none;
              color: #aa198d;
              background: #fff;
              padding: 5px 55px;
            }
            input{
              width: 100%;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
              border: none;
            }
            textarea{
              width: 100%;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
            }
            select{
              width: 100%;
            }
          }
          .label{
            width: 35%;
            display: inline-block;
            vertical-align: top;
            text-transform: uppercase;
            font-size: 13px;
          }
        }
        
      }
    }

  }
}


.footer{
  width: 100%;
  background: url('../img/bg-footer.png') repeat;
  height: 100%;
  position: relative;
  .logo-footer{
    padding: 10px;
  }
  .address-footer{
    width: 59%;
    display: inline-block;
    padding-left: 13px;
    h3{
      font-family: "Bebas Neue", arial, sans-serif;
      font-size: 28px;
      height: 36px;
    }
    a{
      text-decoration: none;
      color: #000;
    }
  }
  .phone-footer{
    width: 38%;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    img{
      width: 17px;
      vertical-align: middle;
      padding-right: 6px;
    }
    a{
      text-decoration: none;
    }
    .phone{
      font-size: 25px;
      color: #fff;
    }
  }

  .copyright{
    padding-left: 13px;
  }

}