<footer class="footer">
    <div class="wrapper-content">
        <div class="logo-footer">
            <img src="{{ asset('sboza2/img/logo-footer.svg') }}">
        </div>
        <div class="info-footer">
            <div class="address-footer">
                <h3>Direcci&oacute;n</h3>
                <p><strong>Camino de ronda, 204, Granada</strong><br>
                parada de metropolitano villarejo,(situada a 200 metros)<br>
                <a href="mailto:info@sboza2.com"> <strong>info@sboza2.com</strong></a></p>
            </div>
            <div class="text-contact-now">
                <a class="contact-now" href="tel:+34669970256">Contactar ahora</a><a href="tel:+34669970256"><img src="{{ asset('sboza2/img/icons/Icono 2-05.svg') }}"></a><a id="link-whatsapp-footer"><img src="{{ asset('sboza2/img/icons/Icono 2-04.svg') }}"></a>
            </div>
        </div>
        <div class="copyright">
            <p>Escuela de dibujo y artes visuales sboza2 | 2016 Aviso Legal y Política de Privacidad · Ley de Cookies </p>
        </div>
    </div>
</footer>