<footer class="footer">
    <div class="wrapper-content">
        <div class="logo-footer">
            <img src="{{ asset('sboza2/img/logo-footer.png') }}">
        </div>
        <div class="info-footer">
            <div class="address-footer">
                <h3>Direccion</h3>
                <p>Camino de ronda, 204, Granada<br>
                parada de metropolitano villarejo,(situada a 200 metros)<br>
                info@sboza2.com</p>
            </div>
            <div class="phone-footer">
                <p> <i class="fa fa-phone" aria-hidden="true"></i> <i class="fa fa-whatsapp" aria-hidden="true"></i> Pîdenos información:<br><a href="tel:+34654468158"><span class="phone">654 468 158</span></a></p>

            </div>
        </div>
        <div class="copyright">
            <p>escuela de dibujo y artes visuales sboza2 | 2016 Aviso Legal y Política de Privacidad · Ley de Cookies </p>
        </div>
    </div>
</footer>