<div class="header-top-mobile">
    <div class="wrapper-content">
        <div class="header-top-content">
            <i id="email-mobile" class="fa fa-envelope" aria-hidden="true"></i>
            <span id="phone-mobile"><img src="{{ asset('sboza2/img/icons/Icono 2-05.svg') }}"><img src="{{ asset('sboza2/img/icons/Icono 2-04.svg') }}"></span>
            {% include ':desktop:_social_networks.html.twig' %}
        </div>
    </div>
</div>