{#{% set date =  "now" | date('l, j - F - Y')|replace({
'January'  : 'Enero',
'Febrary'  : 'Febrero',
'March'    : 'Marzo',
'April'    : 'Abril',
'May'      : 'Mayo',
'June'     : 'Junio',
'July'     : 'Julio',
'August'   : 'Agosto',
'September': 'Septiembre',
'Octover'  : 'Octubre',
'November' : 'Noviembre',
'December' : 'Diciembre',
'Monday'   : 'Lunes',
'Tuesday'  : 'Martes',
'Wednesday': 'Miercoles',
'Thursday' : 'Jueves',
'Friday'   : 'Viernes',
'Saturday' : 'Sabado',
'Sunday'   : 'Domingo'
}) %}#}

<div class="hamburgler-menu">
    {{ knp_menu_render('AppBundle:MenuBuilder:mainMenuMobile') }}
</div>

<div id="hamburgler" class="hamburgler-icon-wrapper">
    <span class="hamburgler-icon"></span>
</div>

<header>
    {% include ':desktop:_header_top.html.twig' %}
    {% include ':desktop:_header_top_mobile.html.twig' %}
    <div class="header">
        <div class="wrapper-content">
            <div class="logo">
                <a href="{{ path('homepage') }}" ><img src="{{ asset('sboza2/img/logo.svg') }}" alt="Sboza2" title="sboza2"></a>
            </div>
            <nav>
                {{ knp_menu_render('AppBundle:MenuBuilder:mainMenu') }}
            </nav>
        </div>
    </div>
</header>
