<header>
    <div class="header-top">
        <div class="wrapper-content">
            <div class="info-header">
                <a class="link-email" href="mailto:info@sboza2.com">info@sboza2.com</a>
                <span>
                    <i class="fa fa-phone" aria-hidden="true"></i> <i class="fa fa-whatsapp" aria-hidden="true"></i> pidenos más informacion <pan>654 468 158</pan>
                </span>
            </div>
            <div class="social-header">
                <span class="date">31 de julio 2016</span>
                <a href="#">campus</a>
                <ul>
                    <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="wrapper-content">
            <div class="logo">
                <img src="{{ asset('sboza2/img/logo.png') }}">
            </div>
        </div>
    </div>
</header>
