<div class="header-top-mobile">
    <div class="wrapper-content">
        <div class="header-top-content">
            <i id="email-mobile" class="fa fa-envelope" aria-hidden="true"></i>
            <i id="phone-mobile" class="fa fa-phone" aria-hidden="true"></i>
            <i id="date-mobile" class="fa fa-calendar" aria-hidden="true"></i>
            <a class="campus-header" href="#">campus</a>
            {% include ':desktop:_social_networks.html.twig' %}
        </div>
    </div>
</div>