{% set date =  "now" | date('l, j - F - Y')|replace({
'January'  : 'Enero',
'Febrary'  : 'Febrero',
'March'    : 'Marzo',
'April'    : 'Abril',
'May'      : 'Mayo',
'June'     : 'Junio',
'July'     : 'Julio',
'August'   : 'Agosto',
'September': 'Septiembre',
'Octover'  : 'Octubre',
'November' : 'Noviembre',
'December' : 'Diciembre',
'Monday'   : 'Lunes',
'Tuesday'  : 'Martes',
'Wednesday': 'Miercoles',
'Thursday' : 'Jueves',
'Friday'   : 'Viernes',
'Saturday' : 'Sabado',
'Sunday'   : 'Domingo'
}) %}

{#<div class="hamburgler-menu">
    <ul class="hamburgler-menu-list">
        <li>never</li>
        <li>gonna</li>
        <li>give</li>
        <li>you</li>
        <li>up</li>
    </ul>
</div>

<div id="hamburgler" class="hamburgler-icon-wrapper">
    <span class="hamburgler-icon"></span>
</div>#}

<header>
    {% include ':desktop:_header_top.html.twig' %}
    {% include ':desktop:_header_top_mobile.html.twig' %}
    <div class="box_email_mobile">
        <div class="wrapper-content">
            <span class="title">Email: </span><a href="mailto:info@sboza2.com">info@sboza2.com</a>
        </div>
    </div>
    <div class="box_phone_mobile">
        <div class="wrapper-content">
            pidenos más informaci&oacute;n <a href="tel:+34669970256"><span class="phone">669 970 256</span></a>
        </div>
    </div>
    <div class="header">
        <div class="wrapper-content">
            <div class="logo">
                <a href="{{ path('homepage') }}" ><img src="{{ asset('sboza2/img/logo.svg') }}"></a>
            </div>
            {#<nav>
                <ul>
                    <li><a href="#">Sección 1</a></li>
                    <li><a href="#">Sección 2</a></li>
                    <li><a href="#">Sección 3</a></li>
                    <li><a href="#">Sección 4</a></li>
                    <li><a href="#">Sección 5</a></li>
                </ul>
            </nav>#}
        </div>
    </div>
</header>
