<a name="siempre-a-la-ultima"></a>
<div class="news">
    <h3 class="title-section">Siempre a la última</h3>
    <div class="new">
        <div class="content-new">
            <div class="img-new">
                <img src="">
            </div>
            <div class="text-new">
                <p class="title-news">Titulo de noticia de prueba</p>
                <p>12-08-2016</p>
                <p>dsadasddsf</p>
            </div>
        </div>
    </div>
    <div class="new">
        <div class="content-new">
            <div class="text-new">
                <p class="title-news">Titulo de noticia de prueba</p>
                <p>12-08-2016</p>
                <p>dsadasddsf</p>
            </div>
            <div class="img-new">
                <img src="">
            </div>
        </div>
    </div>
    <div class="new">
        <div class="content-new">
            <div class="img-new">
                <img src="">
            </div>
            <div class="text-new">
                <p class="title-news">Titulo de noticia de prueba</p>
                <p>12-08-2016</p>
                <p>dsadasddsf</p>
            </div>
        </div>
    </div>
</div>