<div class="our_center">
    <div id="text">
        <h2>N U E S T R O  C E N T R O</h2>
        <h3>
            Mas de 10 años sacando lo mejor de tu vocación
        </h3>
        <p>
            <strong>Elegir dónde y cómo comienza tu futuro es una de las decisiones más importantes de tu vida. En Escuela sboza2 tenemos
            tres de los requisitos indispensables para que aciertes de lleno: un programa formativo inigualable, un equipo docente
            seleccionado de entre los mejores y, sobre todo, años de grandes resultados.</strong>
        </p>
        <p>
            sboza2 es una escuela de arte, con centros en Jaén y Granada. Su objetivo es ofrecer la mejor formación en profesiones artísticas a
            estudiantes interesados, proporcionándoles los mejores medios para formarse en áreas como animación 3D, diseño gráfico, cómic,
            ilustración tradicional, arte digital, creación de videojuegos, fotografía, etc.
        </p>
    </div>
    <div id="list">
        <h3>MOTIVOS PARA ELEGIR sboza2</h3>
        <ul>
            <li>
                Equipo de formadores de reconocido recorrido profesional y experta capacidad docente, especializados en 3D, Ilustración,
                Videojuegos, Diseño Gráfico, Animación, etc.
            </li>
            <li>
                Relación calidad-precio incuestionable y ventajosa para nuestr@s
                alumn@s.
            </li>
            <li>
                Financiación de los cursos sin ningún cargo añadido.
            </li>
            <li>
                Intermediación y búsqueda activa de empleo para nuestr@s alumn@s.
                Publicación de ofertas en nuestra Web.
            </li>
            <li>
                Contactos con empresas para trabajos en prácticas.
            </li>
            <li>
                Grupos reducidos de máximo 14 alumn@s por clase para garantizar el
                seguimiento individual.
            </li>
            <li>
                Portfolio público de ARTENEO, donde se pueden ver los resultados de
                nuestr@ alumn@s año tras año..
            </li>
            <li>
                Posibilidad de asistir a una Clase Demo, ocasión de probar antes de
                elegir, sin ningún compromiso.
            </li>
            <li>
                Organización periódica de Talleres y Masterclasses, gratuitos para l@s
                alumn@s de ARTENEO.
            </li>
            <li>
                Calendario lectivo oficial con recuperación de clase en caso de incidencia
                responsabilidad de la Escuela.
            </li>
            <li>
                Control de calidad permanente a través de encuestas realizadas a l@s
                alumn@s tanto presenciales como online.
            </li>
            <li>
                Todo el material necesario para el trabajo individual de l@s estudiantes
                está incluido.
            </li>
            <li>
                Cursos Intensivos de verano como complemento adicional a la formación
                o como ocasión para confirmar tu vocación profesional.
            </li>
        </ul>
    </div>
</div>