<a name="nuestro-centro"></a>
<div class="our_center">
    <div id="text">
        <h2>Nuestro centro</h2>
        <h3>
            Mas de 10 años sacando lo mejor de tu vocación
        </h3>
        <p id="first-paragraph">
            <strong>Elegir dónde y cómo comienza tu futuro es una de las decisiones más importantes de tu vida. En Escuela sboza2 tenemos
            tres de los requisitos indispensables para que aciertes de lleno: un programa formativo inigualable, un equipo docente
            seleccionado de entre los mejores y, sobre todo, años de grandes resultados.</strong>
        </p>
        <p id="second-paragraph">
            sboza2 es una escuela de arte, con centros en Jaén y Granada. Su objetivo es ofrecer la mejor formación en profesiones artísticas a
            estudiantes interesados, proporcionándoles los mejores medios para formarse en áreas como animación 3D, diseño gráfico, cómic,
            ilustración tradicional, arte digital, creación de videojuegos, fotografía, etc.
        </p>
    </div>
    <div id="list">
        <h3>MOTIVOS PARA ELEGIR sboza2</h3>
        <ul>
            <li>
                <strong>Equipo de formadores</strong> de reconocido recorrido profesional y experta capacidad docente, especializados en 3D, Ilustración,
                Videojuegos, Diseño Gráfico, Animación, etc.
            </li>
            <li>
                Relación <strong>calidad-precio incuestionable</strong> y ventajosa para nuestr@s
                alumn@s.
            </li>
            <li>
                <strong>Financiación</strong> de los cursos <strong>sin ningún cargo</strong> añadido.
            </li>
            <li>
                Intermediación y <strong>búsqueda activa de empleo</strong> para nuestr@s alumn@s.
                Publicación de ofertas en nuestra Web.
            </li>
            <li>
                Contactos con empresas para <strong>trabajos en prácticas</strong>.
            </li>
            <li>
                <strong>Grupos reducidos</strong> de máximo 14 alumn@s por clase para garantizar el
                seguimiento individual.
            </li>
            <li>
                <strong>Portfolio</strong> público de ARTENEO, donde se pueden ver los resultados de
                nuestr@ alumn@s año tras año..
            </li>
            <li>
                Posibilidad de asistir a una <strong>Clase Demo</strong>, ocasión de probar antes de
                elegir, sin ningún compromiso.
            </li>
            <li>
                Organización periódica de <strong>Talleres y Masterclasses, gratuitos</strong> para l@s
                alumn@s de ARTENEO.
            </li>
            <li>
                <strong>Calendario lectivo</strong> oficial con recuperación de clase en caso de incidencia
                responsabilidad de la Escuela.
            </li>
            <li>
                <strong>Control de calidad permanente</strong> a través de encuestas realizadas a l@s
                alumn@s tanto presenciales como online.
            </li>
            <li>
                Todo el <strong>material</strong> necesario para el trabajo individual de l@s estudiantes
                está <strong>incluido</strong>.
            </li>
            <li>
                Cursos <strong>Intensivos de verano</strong> como complemento adicional a la formación
                o como ocasión para confirmar tu vocación profesional.
            </li>
        </ul>
    </div>
</div>