<div class="our_cursos">
    <h3 id="nuestros-cursos" class="title-section">Nuestros cursos</h3>
    <div class="block-cursos">
        <div class="element-pink">
            <div class="head-course">
                <img src="{{ asset('sboza2/img/icons/curso1.svg') }}" title="Cursos sboza2" alt="Formación Oficial">
                <p class="text">Formación Oficial</p>
                <p class="text-point">...</p>
            </div>
            <ul>
                <li><p>diseño de productos gráficos<br><span>ARGG0110</span></p></li>
                <li><p>ilustración<br><span>ARGG0212</span></p></li>
                <li><p>desarrollo de productos editoriales multimedia<br><span>ARGN0110</span></p></li>
                <li><p>desarrollo de productos audiovisuales multimedia interactivos<br><span>IMSV0209</span></p></li>
            </ul>
        </div>
        <div id="spacing"></div>
        <div class="element-green">
            <div class="head-course">
                <img src="{{ asset('sboza2/img/icons/curso2.svg') }}" title="Cursos sboza2" alt="Master Profesionales">
                <p class="text">Máster Profesionales</p>
                <p class="text-point">...</p>
            </div>
            <ul>
                <li>concept art, Zbrush y grafismo para videojuegos</li>
                <li>infoarquitectura 3D e interiores</li>
                <li>creación de portfolio</li>
                <li>ilustración infantil</li>
            </ul>
        </div>
        <div id="spacing-block"></div>
        <div class="element-pink">
            <div class="head-course">
                <img src="{{ asset('sboza2/img/icons/curso3.svg') }}" title="Cursos sboza2" alt="Curso Intesivo">
                <p class="text">Curso Intensivo</p>
                <p class="text-point">...</p>
            </div>
            <ul>
                <li>ilustración digital con COREL PAINTER</li>
                <li>ilustración digital</li>
                <li>cómic</li>
                <li>photoshop, illustrator ó indesign</li>
                <li>diseño gráfico</li>
                <li>wordpress</li>
                <li>posicionamiento SEO, SEM, y Google Adwords</li>
                <li>modelado 3D con Zbrush</li>
                <li>creación de tipografía</li>
            </ul>
        </div>
        <div id="spacing"></div>
        <div class="element-green">
            <div class="head-course">
                <img src="{{ asset('sboza2/img/icons/curso4.svg') }}" title="Cursos sboza2" alt="Titulación Privada">
                <p class="text">Titulación Privada</p>
                <p class="text-point">...</p>
            </div>
            <ul>
                <li>diseño gráfico y diseño web</li>
                <li>superior de diseño gráfico</li>
                <li>motion graphics</li>
                <li>superior de programación web</li>
                <li>ilustración editorial y digital</li>
                <li>cómic</li>
                <li>dibujo para tatuadores</li>
                <li>ilustración los sábados</li>
                <li>videojuegos para dispositivos moviles</li>
                <li>grado profesional en ine de animacion 3D, ilustracion y videojuegos</li>
                <li>superior de fotografía profesional</li>
                <li>caracterización y FX</li>
            </ul>
        </div>
    </div>
</div>