<div class="slide_show">
    <ul class="bxslider">
        <li><img src="{{ asset('sboza2/img/slideshow/image1.jpg') }}" /></li>
        <li><img src="{{ asset('sboza2/img/slideshow/image2.jpg') }}" /></li>
        <li><img src="{{ asset('sboza2/img/slideshow/image3.jpg') }}" /></li>
    </ul>
</div>