<div class="slide_show">
    <ul class="bxslider">
        <li><img src="{{ asset('sboza2/img/slideshow/image1.jpg') }}" alt="Escuela de dise&ntilde;o Sboza2" title="Escuela de dise&ntilde;o Sboza2"/></li>
        <li><img src="{{ asset('sboza2/img/slideshow/image2.jpg') }}" alt="Escuela de dise&ntilde;o Sboza2" title="Escuela de dise&ntilde;o Sboza2"/></li>
        <li><img src="{{ asset('sboza2/img/slideshow/image3.jpg') }}" alt="Escuela de dise&ntilde;o Sboza2" title="Escuela de dise&ntilde;o Sboza2"/></li>
    </ul>
    <a name="nuestro-centro"></a>
</div>