{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        {% include ':desktop:_slide_show.html.twig' %}
        <div class="wrapper-content">

            {% include ':desktop:_contactHome.html.twig' with { 'form' : form } %}

        </div>
    </div>
{% endblock %}
