{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <div class="wrapper-content">
            <div class="info-thank">
                <h3>su mensaje se ha enviado correctamente<br>
                    nos pondremos en contacto con usted lo antes posible</h3>
                <p class="logo-thanks">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}